body {
  margin: 0;
  padding: 0;
}
h2,
h3 {
  margin: 10px;
  font-size: 16px;
}
h3 {
  font-size: 8px;
}
p {
  margin: 10px;
}
.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #fff;
  margin-right: 20px;
  font-family: Helvetica, sans-serif;
  border-radius: 10px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#features {
  top: 0;
  height: fit-content;
  margin-top: 20px;
  width: 300px;
}
#legend {
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  line-height: 18px;
  margin-bottom: 40px;
}
#methodology,
#methodology-button {
  font-size: 85%;
}
/* Remove button styles */
#methodology-button {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-decoration: underline;
  border-radius: 0;
  cursor: pointer;
}
.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 20px;
  height: 10px;
  margin-right: 5px;
}
